<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  /*background-color: ;*/
  background-image: url('https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  padding: 100px;

  font-size: 50px;
  
}


  
body {font-family: "Lato", sans-serif;}




.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  background-color: #111;
  background-size: cover;
  color: azure;
}




</style>
</head>
<body>
    <div class="sticky"A><b>FaceMask Detection App</b> </div>
    



<div class="main">
  <h2>Introducntion</h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corporis ullam aut suscipit sunt deleniti praesentium, a, repudiandae placeat soluta quos, explicabo eveniet! Accusantium tenetur corporis ex sapiente, assumenda officia.
</div>






     
</body>
</html> 
